# SmartPill/SmartPill.xcworkspace/xcuserdata/nunesdennis.xcuserdatad/UserInterfaceState.xcuserstate

# .DS_Store

SmartPill/SmartPill.xcworkspace/xcuserdata/nunesdennis.xcuserdatad/UserInterfaceState.xcuserstate

SmartPill/.DS_Store

SmartPill/SmartPill.xcworkspace/xcuserdata/nunesdennis.xcuserdatad/UserInterfaceState.xcuserstate

SmartPill/SmartPill.xcworkspace/xcshareddata/SmartPill.xccheckout
