
SmartPill/Pods/Pods.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/Pods-SmartPill-Bolts.xcscheme

SmartPill/Pods/Pods.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/Pods-SmartPill-Facebook-iOS-SDK.xcscheme

SmartPill/Pods/Pods.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/Pods-SmartPill.xcscheme

SmartPill/Pods/Pods.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/xcschememanagement.plist

SmartPill/SmartPill.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/SmartPill.xcscheme

SmartPill/SmartPill.xcodeproj/xcuserdata/thiago.xcuserdatad/xcschemes/xcschememanagement.plist

SmartPill/SmartPill.xcworkspace/xcuserdata/thiago.xcuserdatad/UserInterfaceState.xcuserstate

SmartPill/SmartPill.xcworkspace/xcuserdata/Italo.xcuserdatad/UserInterfaceState.xcuserstate

SmartPill/SmartPill.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/SmartPill.xcscheme

SmartPill/SmartPill.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/xcschememanagement.plist

SmartPill/Pods/Pods.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/xcschememanagement.plist

SmartPill/Pods/Pods.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/Pods-SmartPill.xcscheme

SmartPill/Pods/Pods.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/Pods-SmartPill-Facebook-iOS-SDK.xcscheme

SmartPill/Pods/Pods.xcodeproj/xcuserdata/Italo.xcuserdatad/xcschemes/Pods-SmartPill-Bolts.xcscheme
